.login__page{
    position: relative;
}


.log__page{
    margin-top: 100px;
    height: 650px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}





.section__body{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    background-color: #FFAA04;
    border-radius: 10px;
}


